//Base styles
html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
}

a {
  color: $ob-blue-dark;
}

.flex {
  display: flex;
  width: 100%;
  &--wrap {
    flex-flow: wrap;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--center {
    justify-content: center;
  }
  &--middle {
    align-items: center;
  }
}
