// BREAKPOINTS
$break-xl: 80em; // 1280
$break-lg: 64em; // 1024
$break-md: 48em; // 768
$break-sm: 30em; // 480

//PADDING
$padding: 12px;

//MARGIN
$margin: 12px;

//COLORS
$ob-blue: #1a0dab;
$ob-white: #fff;
$ob-grey-04: #ccc;
$ob-grey-03: #999;
$ob-grey-02: #555;
$ob-grey-01: #333;
$ob-black: #222;
