//Base styles
html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {

  width: 100vw;
height: 100vh;
margin: 0;
padding: 0;
}


.container {
  width: 100vw;
  padding: 0;
}

button {
  border: none;
}

a {
  color: $ob-blue-dark;

}

.flex {
  display: flex;
  width: 100%;
  &--wrap {
    flex-flow: wrap;
  }
  &--space-around {
    justify-content: space-around;
  }
  &--space-between {
    justify-content: space-between;
  }
  &--center {
    justify-content: center;
  }
  &--middle {
    align-items: center;
  }

}

.display-view {
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  li{
    margin: 0;
    padding: 1rem;
  // border: 1px solid #000;
    flex: 1;
    background-color: $ob-blue-light;
    color: #fff;
    text-align: center;
    letter-spacing: .15rem;
    font-size: 1.3rem;
    text-shadow: .1rem .1rem 0 #000;
    border-bottom: .2em solid $ob-blue-light-shadow;
    &:active {
      background-color:$ob-blue;
      border-bottom: .2em solid
    }

  }
}
