// BREAKPOINTS
$break-xl: 80em; // 1280
$break-lg: 64em; // 1024
$break-md: 48em; // 768
$break-sm: 30em; // 480

//PADDING
$padding: 12px;

//MARGIN
$margin: 12px;

//COLORS
$ob-blue-dark: #1a0dab;
$ob-blue: #3367d6;
$ob-blue-light: #3b78e7;
$ob-white: #fff;
$ob-grey-04: #ccc;
$ob-grey-03: #999;
$ob-grey-02: #555;
$ob-grey-01: #333;
$ob-black: #222;

//shadows
$ob-blue-dark-shadow: darken($ob-blue-dark, 15%);
$ob-blue-light-shadow: darken($ob-blue-light, 15%);
$ob-blue-shadow: darken($ob-blue, 15%);
