.center-header {
  text-align: center;
  background-color: $ob-blue-light;
  text-shadow: .1rem .1rem 0 #000;
  border-bottom: .2em solid $ob-blue-light-shadow;
  border-top: .1em solid lighten($ob-blue-light, 15%);
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem;
}
.login-form {
  font-size: 1.2rem;
  max-width: 500px;
  width: 100%;
  margin: 0 25px;
}
.form-control {
  padding: 12px;
  border: 1px solid $ob-grey-03;
  border-radius: 3px;
  margin-bottom: 24px;
}
.form-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.form-holder {
  height: calc(100vh - 160px);
}

input {
  border: 2px solid $ob-grey-04;
  // display: inline;
  font-size: 1rem;
}

label {
  // display: inline;
  text-align: right;
  margin-right: .5em;
}

button {
  @extend .center-header;
  padding: .4em 1.2em;
  border-radius: 4px;
  border: none;
  box-shadow: -.1em .1em .1em rgba(0,0,0,.2);
  font-size: 1.3rem;
  letter-spacing: .1em;
  margin-top: .5em;

}

button.back {
  background-color: $ob-grey-03;
}


input[type="checkbox"] {
  width: 16px;
  height: 16px;
}
