<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Open Beds
      </a>
    </div>
    <div class="menu-right">
          <a href="#administrator" class="admin-link">admin login</a>
      <div class="icon-holder">


        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
          <g>
            <rect x="5" y="13" width="90" height="14"></rect>
            <rect x="5" y="73" width="90" height="14"></rect>
            <rect x="5" y="43" width="90" height="14"></rect>
          </g>
        </svg>
      </div>

    </div>


  </div>
</nav>
