<nav class="navbar">
      <a class="navbar-brand flex flex--middle" href="#">
        <svg class="logo" viewBox="0 0 1000 1000">
          <circle class="stroke-blue fill-white" stroke-width="100" stroke-miterlimit="10" cx="500.4" cy="504.3" r="444.3"/>
        	<line class="stroke-blue" stroke-width="100" stroke-miterlimit="10" x1="262.2" y1="530" x2="736.3" y2="528.8"/>
        	<line class="stroke-blue" stroke-width="100" stroke-miterlimit="10" x1="262.1" y1="330" x2="264" y2="650"/>
        	<line class="stroke-blue" stroke-width="100" stroke-miterlimit="10" x1="737.4" y1="400" x2="738.6" y2="648"/>
        </svg>
        charlottesville Services 
      </a>
      <div class="icon-holder">
        <a href="#login">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
              <rect x="5" y="13" width="90" height="14"></rect>
              <rect x="5" y="73" width="90" height="14"></rect>
              <rect x="5" y="43" width="90" height="14"></rect>
            </g>
          </svg>
        </a>
      </div>


</nav>
