<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>
    <div class="menu-right">
      <a href="#administrator">admin login</a>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><rect x="5" y="13" width="90" height="14"></rect><rect x="5" y="73" width="90" height="14"></rect><rect x="5" y="43" width="90" height="14"></rect></g></svg>

    </div>


  </div>
</nav>
